
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Index.cshtml";
}

<script>
    $(function () {
        gridList();
    })
    function gridList() {
        var $gridList = $("#gridList");
        $gridList.dataGrid({
            url: "/ProjectManage/Orderpayment/GetGridJson",
            height: $(window).height() - 128,
            colModel: [
                { label: '主键', name: 'F_Id', hidden: true },
                { label: '订单', name: 'P_OrderId', hidden: true },
                {
                    label: '客户代码', name: 'P_CustomerId', width: 80, align: 'left' },
                { label: '订单编号', name: 'P_OrderCode', width: 80, align: 'left' },
                {
                    label: '产品名称', name: 'P_ProductId', width: 100, align: 'left',
                    formatter: function (cellvalue, options, rowObject) {
                        return top.clients.productItems[cellvalue] == null ? "" : top.clients.productItems[cellvalue].productName;
                    }
                },
                {
                    label: '规格/型号', name: 'P_ProductId', width: 120, align: 'left',
                    formatter: function (cellvalue, options, rowObject) {
                        return top.clients.productItems[cellvalue] == null ? "" : top.clients.productItems[cellvalue].productNo;
                    }
                },
                {
                    label: '下单日期', name: 'P_OrderDate', width: 80, align: 'left',
                    formatter: "date", formatoptions: { srcformat: 'Y-m-d', newformat: 'Y-m-d' }
                },
                {
                    label: '交货日期', name: 'P_DeliveryDate', width: 80, align: 'left',
                    formatter: "date", formatoptions: { srcformat: 'Y-m-d', newformat: 'Y-m-d' }
                },
                {
                    label: '订单数量', name: 'P_OrdreNumber', width: 60, align: 'center'
                },
                { label: '单价', name: 'P_OrderPrice', width: 80, align: 'center' },
                { label: '订单金额', name: 'P_OrderAmount', width: 80, align: 'center' },
                { label: '收款金额', name: 'P_Amount', width: 80, align: 'center' },
                {
                    label: '接单人', name: 'P_OrderOwner', width: 80, align: 'left',
                    formatter: function (cellvalue, options, rowObject) {
                        return top.clients.user[cellvalue] == null ? "" : top.clients.user[cellvalue].userName;
                    }
                },
                {
                    label: '订单状态', name: 'P_OrderStatus', width: 60, align: 'left',
                    formatter: function (cellvalue, options, rowObject) {
                        return top.clients.orderFlows[cellvalue] == null ? "" : top.clients.orderFlows[cellvalue].itemName;
                    }
                },
                {
                    label: '收款时间', name: 'F_CreatorTime', width: 80, align: 'left',
                    formatter: "date", formatoptions: { srcformat: 'Y-m-d', newformat: 'Y-m-d' }
                },
                {
                    label: '收款人', name: 'F_CreatorUserId', width: 80, align: 'left',
                    formatter: function (cellvalue, options, rowObject) {
                        return top.clients.user[cellvalue] == null ? "" : top.clients.user[cellvalue].userName;
                    }
                },


            ],
            pager: "#gridPager",
            sortname: 'F_CreatorTime desc,P_OrderCode desc',
            viewrecords: true
        });
        $("#btn_search").click(function () {
            $gridList.jqGrid('setGridParam', {
                postData: { keyword: $("#txt_keyword").val() },
            }).trigger('reloadGrid');
        });
    }
    function btn_add() {
        $.modalOpen({
            id: "Form",
            title: "新增收款",
            url: "/ProjectManage/Orderpayment/Create",
            width: "700px",
            height: "510px",
            callBack: function (iframeId) {
                top.frames[iframeId].submitForm();
            }
        });
    }
    function btn_delete() {
        var keyValue = $("#gridList").jqGridRowValue().F_Id;
        if (!keyValue || keyValue.length < 1) {
            $.modalMsg("请选择一条记录！", "error");
            return;
        }
        $.deleteForm({
            url: "/ProjectManage/Orderpayment/DeleteForm",
            param: { keyValue: keyValue },
            success: function () {
                $.currentWindow().$("#gridList").trigger("reloadGrid");
            }
        })
    }
</script>

<div class="topPanel">
    <div class="toolbar">
        <div class="btn-group">
            <a class="btn btn-primary" onclick="$.reload()"><span class="glyphicon glyphicon-refresh"></span></a>
        </div>
        <div class="btn-group">
            <a id="yf-add" authorize="yes" class="btn btn-primary dropdown-text" onclick="btn_add()"><i class="fa fa-plus"></i>新增收款</a>
        </div>
        <div class="operate">
            <ul class="nav nav-pills">
                <li class="first">已选中<span>1</span>项</li>
                <li><a id="yf-delete" authorize="yes" onclick="btn_delete()"><i class="fa fa-trash-o"></i>删除收款</a></li>
            </ul>
            <a href="javascript:;" class="close"></a>
        </div>
        <script>$('.toolbar').authorizeButton()</script>
    </div>
    <div class="search">
        <table>
            <tr>
                <td>
                    <div class="input-group">
                        <input id="txt_keyword" type="text" class="form-control" placeholder="订单编号" style="width: 200px;">
                        <span class="input-group-btn">
                            <button id="btn_search" type="button" class="btn  btn-primary"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="gridPanel">
    <table id="gridList"></table>
    <div id="gridPager"></div>
</div>
