
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Form.cshtml";
}

<script>
    var keyValue = $.request("keyValue");
    $(function () {
        initControl();
        if (!!keyValue) {
            $.ajax({
                url: "/ProjectManage/Product/GetFormJson",
                data: { keyValue: keyValue, orderid: orderid },
                dataType: "json",
                async: false,
                success: function (data) {
                    $("#form1").formSerialize(data);
                    $("#F_UserPassword").val("******").attr('disabled', 'disabled');
                }
            });
        }
    });
    function initControl() {
        $("#F_EnabledMark").bindSelect()
    }
    function submitForm() {
        if (!$('#form1').formValid()) {
            return false;
        }

        $.ajax({
            url: "/ProjectManage/Product/CheckProductInfo",
            data: { name: $("#P_ProductName").val(), no: $("#P_DrawingNoOrModelNo").val() },
            dataType: "json",
            async: false,
            success: function (data) {
                if (data.length > 0) {
                    $.modalMsg("已经存在的名称和型号，请重新输入！", "error");
                    return;
                } else {
                    $.submitForm({
                        url: "/ProjectManage/Product/SubmitForm?keyValue=" + keyValue,
                        param: $("#form1").formSerialize(),
                        success: function () {
                            $.currentWindow().$("#gridList").trigger("reloadGrid");
                        }
                    })
                }
            }
        });

    }
</script>
<form id="form1">
    <div style="margin-top: 10px; margin-left: 10px; margin-right: 10px;">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#">基本信息</a></li>
            @*<li ><a href="#">扩展信息</a></li>*@
        </ul>
        <div style="padding-top: 20px; margin-right: 30px;">
            <table class="form">
                <tr>
                    <th class="formTitle">产品名称</th>
                    <td class="formValue">
                        <input id="P_ProductName" name="P_ProductName" type="text" class="form-control required" placeholder="请输入产品名称" />
                    </td>
                    <th class="formTitle">规格/型号</th>
                    <td class="formValue">
                        <input id="P_DrawingNoOrModelNo" name="P_DrawingNoOrModelNo" type="text" class="form-control required" placeholder="请输入产品规格" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">状态</th>
                    <td class="formValue">
                        <select id="P_ProductStatus" name="P_ProductStatus" class="form-control">
                            <option value="true">正常</option>
                            <option value="false">禁用</option>
                        </select>
                    </td>
                    <th class="formTitle"></th>
                    <td class="formValue">
                    </td>
                </tr>
            </table>
        </div>
    </div>
</form>


